<div class="wrapper">
  <div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">

          <!-- profile -->
          <div class="col-md-3">
            <%= render 'profile' %>
          </div>
          
          <!-- post -->
          <div class="col-md-9">
            <div class="card">

              <!-- post header -->
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href=<%= posts_path %> data-toggle="tab">Timeline</a></li>
                  <li class="nav-item"><a class="nav-link" href=<%= new_post_path %> data-toggle="tab">New Post</a></li>
                </ul>
              </div>

              <!-- post body -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active">

                    <!-- timeline -->
                    <div class="timeline timeline-inverse">
                      <% b_posted_date = "" %>
                      <% @posts.each do |post| %>

                        <!-- timeline time label -->
                        <% posted_date = post.created_at.strftime("%d %b. %Y") %>
                        <% if posted_date != b_posted_date %>
                          <div class="time-label">
                            <span class="bg-gray">
                              <%= posted_date %>
                            </span>
                          </div>
                          <% b_posted_date = posted_date %>
                        <% end %>

                        <!-- timeline item -->
                        <div>
                          <i class="fas fa-comment bg-primary"></i>

                          <div class="timeline-item">
                            <span class="time">
                              <i class="far fa-clock"></i>
                              <%= post.created_at.strftime("%H:%M") %>
                            </span>

                            <h3 class="timeline-header"><%= post.title %></h3>

                            <div class="timeline-body">
                              <%= post.text %>
                            </div>
                            
                            <div class="timeline-footer">
                              <%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary btn-sm" %>
                              <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
                            </div>
                          </div>
                        </div>
                      <% end %>

                      <div>
                        <i class="far fa-clock bg-gray"></i>
                      </div>
                    </div>
                    <!-- end timeline -->

                  </div>
                </div>
              </div>
              <!-- end post body -->

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>